body {
    background: #4A5E55;
}

.profile-button {
    background: #9098B0;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #4A5E55
}

.labels {
    font-size: 11px
}

/* .profile-button:focus {
    background: #682773;
    box-shadow: none
} */

/* .profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
} */


/* .form-control:focus {
    box-shadow: none;
    border-color: #9098B0
} */
