body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav-item{
    padding: 5px;
}

.nav-item .nav-link{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
