body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.nav-item{
    padding: 5px;
}

.nav-item .nav-link{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-center{
    text-align: center;
}

.small-centered-image {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 15px;
    display:block;
    border-radius: 50px;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}



